/* Navbar Styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Banner Styling */
.hero {
  background: #f8f8f8;
  height: 92vh;
  display: flex;
}
.hero .left {
  margin-left: 150px;
  display: inline-block;
  padding: 300px 25px;
}
.hero .left h6 {
  font-size: 25px;
  font-weight: 300;
}
.hero .left h1 {
  font-size: 90px;
  font-weight: 600;
  font-family: sans-serif;
}
.hero .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .right img {
  width: 100%;
}
.order-btn button {
  background: orangered;
  padding: 10px 25px;
  color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.order-btn button:hover {
  background: rgba(184, 58, 13, 0.836);
}
.main {
  margin: 0 auto;
  padding: 8px 20px;
}
.main h1 {
  font-size: x-large;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-family: sans-serif;
}
/* Pizza Card Styles00 */
.pizzas {
  max-width: 1500px;
  margin: 10px auto;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-right: 50px;
  margin-bottom: 15px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .pizza-img {
  width: 250px;
  height: 250px;
  margin-top: -100px;
  margin-bottom: 25px;
}
.card .pizza-img img {
  width: 100%;
  height: 100%;
}
.pizza-name {
  font-size: 25px;
  color: gray;
  font-weight: lighter;
  margin-bottom: 20px;
}
.pizza-size {
  background: #f8f8f8;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 5px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 25px;
}
.pizza-det {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 20px;
  font-weight: 600;
}
.det-btn span {
  margin-right: 15px;
}

.det-btn button {
  color: orangered;
  padding: 10px 35px;
  outline: none;
  font-size: 20px;
  border: 2px solid orangered;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.3s all ease-in-out;
  background: transparent;
}
.det-btn button:hover {
  background: orangered;
  color: #fff;
}
/* Header Offer Section */
.header-offer {
  height: 300px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-offer h1 {
  font-size: 100px;
  font-weight: 400;
  font-family: sans-serif;
}
