*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(245, 245, 245, 0.719);
}

h2
{
    text-align: center;
    line-height: 330px;
    vertical-align: middle;
    font-weight:400;
}
svg{
    font-size: 150px;
    color:yellow;
   
}
pre{
    text-align: center;
    overflow: hidden;
    margin-top: -145px;
    margin-left: -79px;
}
.addImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 412px;
    vertical-align: middle;
    overflow:hidden;
}
.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}
a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 8px 25px;
    border-radius: 19px;
}
a:hover{
    background-color: rgba(0, 128, 58, 0.788);
    transform-origin: left;
    transition: 0.4s;
}
.At_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}