*{
    padding: 0;margin: 0;box-sizing: border-box;
}
nav {
    height: 85px;
    padding: 25px 20px;
    display: flex;
    background: #fff;
    box-shadow: 10px 10px 10px #888888;
    justify-content: space-between;
  }
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
  }
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .right ul {
    padding: 0 10px;
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .right ul li {
    list-style: none;
  }
  .right ul li a {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: gray;
    transition: 0.3s all ease;
  }
  .right ul li a:hover {
    cursor: pointer;
    color: orangered;
  }
  .right ul li a img{
    padding-left: 10px;
  }
  .cart {
    outline: none;
    border: 2px solid red;
    background: orangered;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 40px;
    position: relative;
  }
  .cart img {
    position: absolute;
    left: 10px;
  }
  .cart span {
    position: absolute;
    color: #fff;
    right: 12px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s all ease;
    border: none;
}
  .cart:hover {
    background: rgba(184, 58, 13, 0.836);
}
section.status{
    background:rgba(245,245,245,0.719);
    min-height: 88vh;
}
.status-order{
    width: 66.66667%;
    margin-left: 30vh;
    padding:60px 0 0;
}
.status-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
h1{
    font-size: x-large;
    font:bold;
}
.Address{
  font-size: small;
    background:white;
    border-radius: 20px;
    margin-right: 10px;
    padding: 0 5px 0 5px;
    color: rgb(144, 231, 13);
}
.status-line{
  font-size: large;
  padding-bottom: 50px;
  list-style-type: none;
}
.status-order ul{
  margin-left: 85px;
}
.status-order ul li span{
  position: relative;
  padding-left: 15px;

}
.status-order ul li span:after{
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 8px whitesmoke;
  transform: translateY(-50%);
}
.status-order ul li span:before{
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}
.status-order ul li:nth-child(1) span:before{
  content: "\f46c";
}
.status-order ul li:nth-child(2) span:before{
  content: "\f560";
}
.status-order ul li:nth-child(3) span:before{
  content: "\f818";
}
.status-order ul li:nth-child(4) span:before{
  content: "\f0d1";
}
.status-order ul li:nth-child(5) span:before{
  content: "\f582";
}
.status-order ul li{
  position: relative;
}

.status-order ul li:before{
  content: '';
  position: absolute;
  left: -6px;
  top: 0;
  background: black;
  width: 2px;
  height: 100%;
  margin-top: 10px;
}
.status-order ul li:nth-child(5) span:after{
  box-shadow: 0 15px 2px 15px whitesmoke;
}
.status-order ul li:nth-child(5){
padding-bottom: 0;
}
/*line*/
.status-order ul li.step-completed:before{
  background: grey;
}
/*dot*/
.status-order ul li.step-completed span:after{
  background: grey;
}
.status-order ul li.step-completed span{
  color: rgb(167, 161, 161);
}
.status-order ul li.current span:after{
  background:orangered;
}
.status-order ul li.current span{
  color:orangered;
}